body{
    background-color: rgb(84, 150, 92);
    font-family: 'Arial';
    /* max-width: 900px; */
    margin: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.photo {
    border: 1px, solid, rgb(84, 150, 92);
    border-radius: 50%;
}

#title, .subtitle {
    color: rgb(5, 75, 36);
}

#title {
    font-size: 40px;
    text-transform: uppercase;
}

.post_title{
    color: rgb(5, 75, 36);
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    margin: 0;
    margin-bottom: 15px;

}

.post {
    background-color: rgb(90, 117, 106);
    padding: 10px;
    border-radius: 15px;
    border: solid black;
    margin: 0;
    margin-bottom: 15px;
    text-align: justify;
}

.image {
    padding-left: 25%;
    padding-right: 25%;
    width: 50%;
    margin: 0;
    margin-bottom: 15px;
}

a {
    color: rgb(9, 32, 20);
}
.text {
    margin: 0;
    margin-bottom: 15px;
    color: rgb(9, 32, 20);
}

.list {
    list-style-type: square;
    padding-left: 28px;
    margin: 0;
    color: rgb(9, 32, 20);
}

